<app-header></app-header>
<div class="">
    
     <!-- ======= Services Section ======= -->
     <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Popular quizzes</h2>
            <p>in our platform we offer multiple field and categories you can choose your domain and enjoy by passing quiz and imporve your knowledge with amazing way.</p>
          </div>
  
          <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <a [routerLink]="['/Start-quiz','computer']">
                <img src="/assets/img/ordinateur.png" alt="" class="col-md-12">
              </a>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <a [routerLink]="['/Start-quiz', 'programing']" >
                <img src="/assets/img/programing.png" alt="" class="col-12">
              </a>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
              <a [routerLink]="['/Start-quiz','network']">
                <img src="/assets/img/network.png" alt="" class="col-12">
              </a>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
             <a [routerLink]="['/Start-quiz','angular']">
              <img src="/assets/img/angular.png" alt="" class="col-md-12">
             </a>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
</div>
